/*Common CSS*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbarContainer {
    width:100%;
    background-color:rgba(32,35,42,.85);
    text-align: center;
    margin:0;
    padding:0;
    color:rgb(244,244,239);
    position: fixed;
    z-index: 1000;
}

.inlineOptions a, .navbarOptionM a, .logoM a {
    text-decoration: none;
    color: inherit;
    transition: color .2s;
}

.optionContentContainer > h1 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(transparent 60%, rgb(172,190,190) 40%);
  	background-repeat: repeat-x;
	background-size: 200% 100%;
}

.optionContentContainer {
    box-shadow: 0px -7px 18px -4px rgba(32,35,42,0.17);
    -webkit-box-shadow: 0px -7px 18px -4px rgba(32,35,42,0.17);
    -moz-box-shadow: 0px -7px 18px -4px rgba(32,35,42,0.17);
    text-align: center;
}

/*Desktop*/
@media (min-width: 928px) {
    .inlineOptions {
        display: inline-block;
        margin: 0 -4px;
        padding: 14px 45px 14px 45px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .navbarOptionM, .logoM {
        display: none;
    }

    .navbarOptionD a:link {
        color: rgb(172,190,190);
    }

    .navbarOptionD a:visited {
        color: rgb(160,29,38);
    }

    .navbarOptionD a:hover {
        color: rgb(244,244,239);
    }

    .navButton {
        display: none;
    }

    .logoD img{
        height: 20px;
        padding: 0px !important;
        margin: 0 auto;
        position: absolute;
    }

    .navPadding {
        height: 5vh;
    }

    .emptyspaceaboveh1s {
        height: 7vh;
    }

}

/*Mobile*/
@media (max-width: 927px) {


    .dropdown {
        display: none;
        margin: 0 -4px;
        padding: 14px 42px 14px 42px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .logoM {
        margin: 0 -4px;
        padding: 14px 42px 14px 42px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align:center;
    }

    .logoM img{
        height: 25px;
    }

    .navbarOptionD, .logoD {
        display: none;
    }

    #burger {
        position: absolute;
        left:0;
        top:0;
        border:none;
        background-color: transparent;
        color: rgb(244,244,239);
    }

    #exitButton {
        display: none;
        position: absolute;
        right:0;
        top:0;
        border:none;
        background-color: transparent;
        color: rgb(244,244,239);
    }

    .navPadding {
        height: 5vh;
    }

    .emptyspaceaboveh1s {
        height: 5vh;
    }
}
